// Owl Carousel
.owl-carousel.owl-modern(data-items='1', data-stage-padding='15', data-margin='30', data-dots='true', data-animation-in="fadeIn", data-animation-out="fadeOut", data-autoplay='true')
	+quote-lisa({
		img: 'user-16-100x100',
		text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
		author: 'Catherine Williams',
		status: 'Regular Client'
	})
	+quote-lisa({
		img: 'user-17-100x100',
		text: 'Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.',
		author: 'John Smith',
		status: 'Regular Client'
	})
	+quote-lisa({
		img: 'user-18-100x100',
		text: 'Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Donec rutrum congue leo eget malesuada.',
		author: 'Ann McMillan',
		status: 'Regular Client'
	})