footer.section.footer-minimal.context-dark
	.container-fluid.bg-gray-15
		.footer-minimal-inset.oh

		.footer-minimal-bottom-panel.text-sm-left: .row.row-10.align-items-md-center
			.col-sm-6.col-md-5.offset-1.order-sm-first
				// DERECHOS
				p.rights
					span &copy;&nbsp;
					span.copyright-year
					= ' '
					span= logo.name
			.col-sm-6.col-md-5.text-md-right Todos los derechos reservados
			