+parallax({
	img: 'bg-cta-2',
	innerClass: 'section-xl section-inset-custom-2'
})
	.container
		.row.justify-content-md-end: .col-md-7.col-lg-6: .text-width-small
			h3.oh.font-weight-normal: span.d-inline-block.wow.slideInDown(data-wow-delay='0s') We are Capable of Developing	Any application!
			p.text-spacing-75.wow.fadeInRight(data-wow-delay='.1s') Curabitur aliquet quam id dui posuere blandit. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat.
			a.button.button-primary.button-ujarak.wow.fadeInUp(href='#' data-wow-delay='.2s') Get started