.col-md-6.col-lg-5.col-xl-4.text-center
	a(href='#').text-img
		#particles-js
		span.counter 5
.col-sm-8.col-md-6.col-lg-5.col-xl-4
	.text-width-extra-small.offset-top-lg-24.wow.fadeInUp
		h3.title-decoration-lines-left Años de experiencia
		p.text-gray-500 Profesionales del mundo del diseño y el desarrollo, curiosos por las nuevas tecnologías y hacer las cosas bien para lograr una sonrisa de satisfacción en el rostro de los clientes al final de proyecto. 
.col-sm-10.col-md-8.col-lg-6.col-xl-4.wow.fadeInRight(data-wow-delay='.1s')
	.row.justify-content-center.border-2-column.offset-top-xl-26
		.col-9.col-sm-6
			+counter-amy({
				number: '2',
				symbol: 'k',
				title: 'apps developed'
			})
		.col-9.col-sm-6
			+counter-amy({
				number: '40',
				title: 'Consultants'
			})
		.col-9.col-sm-6
			+counter-amy({
				number: '12',
				title: 'Awards won'
			})
		.col-9.col-sm-6
			+counter-amy({
				number: '160',
				title: 'Employees'
			})