+parallax({
  img: 'bg-cta-3',
  innerClass: 'section-xl section-inset-custom-1'
})
  .container
    h3.oh.font-weight-normal: span.d-inline-block.wow.slideInDown(data-wow-delay='0s')  We're Ready!
    p.oh.text-width-medium: span.d-inline-block.wow.slideInUp(data-wow-delay='.2s') Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    a.button.button-primary.button-ujarak.wow.fadeInUp(href='#' data-wow-delay='.1s') Get Started